.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Temp
*.csproj
*.pidb
*.sln
*.pyc
*.ipa
*.zip
.mobileprovision
build
xcodebuild.log
compile_commands.json
fastlane/report.xml
mobilebank-Prefix.gcda

# Exclude the build directory
build/*
output/*

# Exclue the out directory
out/*

# Exclude temp nibs and swap files
*~.nib
*.swp

# Exclude OS X folder attributes
.DS_Store

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata

analysers
mobilebank-Prefix.gcno
ObjectiveC.gcno