
GPSMovies/GPSMovies\.xcodeproj/project\.xcworkspace/xcuserdata/gilsonsantos\.xcuserdatad/UserInterfaceState\.xcuserstate

GPSMovies/GPSMovies\.xcodeproj/xcuserdata/gilsonsantos\.xcuserdatad/xcschemes/xcschememanagement\.plist

GPSMovies/GPSMovies\.xcodeproj/project\.xcworkspace/contents\.xcworkspacedata

\.DS_Store

GPSMovies/GPSMovies\.xcodeproj/project\.xcworkspace/xcshareddata/IDEWorkspaceChecks\.plist

GPSMovies/GPSMovies\.xcodeproj/xcuserdata/gilsonsantos\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

*.xcuserstate

GPSMovies/GPSMovies\.xcworkspace/xcshareddata/IDEWorkspaceChecks\.plist
