<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>602473881749-5vnev3kigfbvlq3rpbmqaskqu7c1mhlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602473881749-5vnev3kigfbvlq3rpbmqaskqu7c1mhlf</string>
	<key>API_KEY</key>
	<string>AIzaSyDcfd5o1mhV63yvSQL8mg5VTSdhsm-sxX4</string>
	<key>GCM_SENDER_ID</key>
	<string>602473881749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MatheusHenriqueSantos.DesafioConcrete</string>
	<key>PROJECT_ID</key>
	<string>themovies-f5220</string>
	<key>STORAGE_BUCKET</key>
	<string>themovies-f5220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602473881749:ios:624c8322f0593e47</string>
	<key>DATABASE_URL</key>
	<string>https://themovies-f5220.firebaseio.com</string>
</dict>
</plist>