<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuccessRemoveMyRepositorys</key>
	<string>Repositório removido da sua lista de favoritos.</string>
	<key>SuccessAddMyRepositorys</key>
	<string>Repositório adicionado a sua lista de favoritos.</string>
	<key>ErrorNetwork</key>
	<string>Sem conexão com a internet.</string>
	<key>ErrorGeneric</key>
	<string>Desculpe, ocorreu um erro interno.</string>
	<key>ErrorFindRepository</key>
	<string>Repositório não localizado.</string>
	<key>ErrorEmptyRepository</key>
	<string>O repositório não possui projetos assiciados.</string>
	<key>NotInternet</key>
	<string>Verifique sua conexão com a internet.</string>
</dict>
</plist>
