//
//  Release.xcconfig
//  NetworkLayerModule
//
//  Created by Marcos Felipe Souza on 07/03/20.
//  Copyright © 2020 Marcos Felipe Souza. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


IS_API_DOMAIN = https:\/\/api.themoviedb.org/
IS_API_KEY = 29071fdc23e0c8789241655254da5d2b


