<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>4c13570e9544f86bd1c55725495e054e</string>
	<key>getPopularMovies</key>
	<string>https://api.themoviedb.org/3/movie/popular?api_key=[API_KEY]&amp;page=[PAGE_NUMBER]</string>
	<key>getMoviesBySearch</key>
	<string>https://api.themoviedb.org/3/search/movie?query=[ARGUMENT]&amp;api_key=[API_KEY]&amp;page=[PAGE_NUMBER]</string>
	<key>getCasts</key>
	<string>https://api.themoviedb.org/3/movie/[ID]/casts?api_key=[API_KEY]</string>
	<key>getProfileImage</key>
	<string>https://image.tmdb.org/t/p/w185</string>
	<key>getDistributionImage</key>
	<string>https://image.tmdb.org/t/p/w600_and_h900_bestv2</string>
	<key>getGenreList</key>
	<string>https://api.themoviedb.org/3/genre/list?api_key=[API_KEY]</string>
	<key>getTrailer</key>
	<string>https://api.themoviedb.org/3/movie/[ID]/trailers?api_key=[API_KEY]</string>
	<key>getVIdeoStream</key>
	<string>https://www.youtube.com/embed/[ID]</string>
	<key>getTopRatedMovies</key>
	<string>https://api.themoviedb.org/3/movie/top_rated?api_key=[API_KEY]&amp;language=en-US&amp;page=[PAGE_NUMBER]</string>
	<key>getNowPlayingMovies</key>
	<string>https://api.themoviedb.org/3/movie/now_playing?api_key=[API_KEY]&amp;language=en-US&amp;page=[PAGE_NUMBER]</string>
	<key>getUpcomingMovies</key>
	<string>https://api.themoviedb.org/3/movie/upcoming?api_key=[API_KEY]&amp;language=en-US&amp;page=[PAGE_NUMBER]</string>
</dict>
</plist>
