<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607662059528-mh9vpa4qiq8csnvubjpv6tcdhjeb66os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607662059528-mh9vpa4qiq8csnvubjpv6tcdhjeb66os</string>
	<key>API_KEY</key>
	<string>AIzaSyAN4YjicNUQHCXC8QF57k48Ct_BZhEaLR0</string>
	<key>GCM_SENDER_ID</key>
	<string>607662059528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.papanis.Movs</string>
	<key>PROJECT_ID</key>
	<string>movs-acb3a</string>
	<key>STORAGE_BUCKET</key>
	<string>movs-acb3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607662059528:ios:880c214c1cbc19d1</string>
	<key>DATABASE_URL</key>
	<string>https://movs-acb3a.firebaseio.com</string>
</dict>
</plist>