//
//  Staging.xcconfig
//  ConcreteChallenge
//
//  Created by Erick Pinheiro on 02/05/20.
//  Copyright © 2020 Erick Martins Pinheiro. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-ConcreteChallenge/Pods-ConcreteChallenge.debug (staging).xcconfig"
#include "Pods/Target Support Files/Pods-ConcreteChallenge/Pods-ConcreteChallenge.release (staging).xcconfig"

// MOVIEDB
MOVIEDB_BASE_URL=https:/$()/api.themoviedb.org/3
MOVIEDB_IMAGE_BASE_URL=https:/$()/image.tmdb.org/t/p
MOVIEDB_API_KEY=41753cb07159e6575c68421c0792962c

// SENTRY
SENTRY_DSN=https:/$()/7bc447f62aeb4bfbac50495b56bc84ff@o386780.ingest.sentry.io/5221397

// App Settings
APP_NAME=Movies (staging)
APP_BUNDLE_ID=com.concrete.ConcreteChallenge.staging

ENV=staging
